[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bpython = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-cors-headers = "*"
django-environ = "*"
"psycopg2" = "*"
channels-redis = "*"
channels = "*"
twisted = "*"
whitenoise = "*"
django-annoying = "*"
djangorestframework-jwt = "*"

[dev-packages]

[requires]
python_version = "3.7"
